.userHeader {
  position: fixed;
  min-height: 100vh;
  width: 80px;
  background-color: var(--theme-color);
  display: flex;
  z-index: 1;
}

.userNav {
  height: 50vh;
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.userHeader .userNav .links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.linksButton {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
}

.logoLink {
  position: absolute;
  top: 30px;
  font-family: var(--slogan-font);
  font-size: 4rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 900;
  color: aliceblue;
  cursor: pointer;
  user-select: none;
}

@media screen and (max-width: 620px) {
  .userHeader {
    transform: rotateZ(90deg);
    min-height: 700px;
    transform-origin: top;
    top: 30px;
    right: -50px;
  }

  .userNav {
    height: 520px;
  }

  .userHeader .userNav .links {
    height: 100%;
    margin-left: 8px;
    margin-top: -10px;
  }

  .linksButton {
    height: 200px;
    transform: translateY(0);
  }

  .navButtons {
    transform: rotateZ(270deg);
  }

  .logoLink {
    transform: rotateZ(270deg);
    left: 40%;
  }
}

@media screen and (max-width: 450px) {
  .linksButton {
    transform: translateY(-70%);
  }
}
