.postsContainer {
  position: absolute;
  left: 20%;
  top: 25%;
}

.postsWraper {
  margin-bottom: 40px;
  font-family: var(--theme-font);
}

@media screen and (max-width: 620px) {
  .postsContainer {
    left: 1%;
    top: 260px;
  }
}
