.formContainer {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 800px;
  height: 650px;
}

.formContainer form {
  display: grid;
  margin-top: 80px;
  grid-template-columns: 400px 400px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-row-gap: 50px;
  position: relative;
}

.formContainer .errorContainer {
  position: absolute;
  top: 0;
  right: 219px;
}

.inputField {
  margin: 50px;
}

.signupButton {
  grid-column: 1 / 3;
  align-self: center;
  justify-self: center;
  margin-top: 50px;
}

@media screen and (max-width: 720px) {
  .formContainer {
    top: 110%;
    width: 370px;
    height: 1100px;
    margin-bottom: 50px;
  }
  .formContainer form {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    grid-row-gap: 0px;
  }
  .inputField {
    margin: 20px;
  }
  .formContainer .errorContainer {
    right: 35px;
    top: -20px;
  }
}
