.formContainer {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 800px;
  height: 500px;
}

.formContainer form {
  display: grid;
  margin-top: 80px;
  grid-template-columns: 400px 400px;
  grid-template-rows: 100px 100px 100px;
  grid-row-gap: 50px;
}

.errorContainer {
  position: absolute;
  margin: 0 0 0 50px;
}

.inputField {
  margin: 50px;
}

.signupButton {
  grid-column: 1 / 3;
  align-self: center;
  justify-self: center;
}
