.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFormWraper {
  width: 700px;
  height: 450px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* box-shadow: 1px 1px 10px black; */
  box-shadow: 1px 1px 20px rgba(54, 54, 54, 0.774);
}
.loginCover {
  width: 50%;
  height: 100%;
  border-radius: 5px;
  background-clip: padding-box;
  position: relative;
}
.loginCover img {
  width: 100%;
  height: 100%;
  object-position: 0px;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.welcomeElement {
  position: absolute;
  top: 20px;
  font-size: 2.5rem;
  font-family: var(--defult-font);
}

.welcomeElement span {
  color: var(--theme-color);
  font-weight: bolder;
  font-family: var(--slogan-font);
  font-size: 3rem;
}

.errorElement {
  position: absolute;
  top: 80px;
  left: 380px;
}

.loginElement {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  margin-top: 30px;
  margin-left: 30px;
}

.loginElement form {
  margin-top: 35px;
}

.loginPageButton {
  margin-top: 10px;
  margin-left: 150px;
}

.loginElement section {
  margin-top: -20px;
  margin-left: -40px;
  font-size: 1.3rem;
  font-family: var(--defult-font);
}

@media screen and (max-width: 720px) {
  .loginFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginFormWraper {
    width: 400px;
    height: 730px;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .welcomeElement {
    top: 300px;
  }

  .errorElement {
    top: 350px;
    left: 80px;
  }

  .loginCover {
    width: 100%;
  }
  .loginCover img {
    height: 80%;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
  }

  .loginElement {
    align-self: center;
  }

  .loginElement form {
    margin-top: 5px;
  }

  .loginElement section {
    margin-top: 20px;
  }
}
