.customButton .buttonWraper {
  width: 50px;
  height: 50px;
  background-color: rgb(226, 226, 226);
  border-radius: 50%;
}

.buttonWraper {
  position: relative;
}

.buttonWraper section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: 4.6rem;
}
